In [2]:
# Basic Python
# 1. Split this string
s = "Hi there Sam!"
s = "Hi there Sam!"
x = s.split()
print(x)

['Hi', 'there', 'Sam!']

In [3]:
# 2. Use .format() to print the following string.
# Output should be: The diameter of Earth is 12742 kilometers.
planet = "Earth"
diameter = 12742
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers." .format(planet,diameter))

The diameter of Earth is 12742 kilometers.

In [4]:
# 3. In this nest dictionary grab the word "hello"
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]["target"][3])

hello

In [5]:
# Numpy
import numpy as np

In [6]:
# 4.1 Create an array of 10 zeros?
# 4.2 Create an array of 10 fives?
import numpy as np
array = np.zeros(10)
print(array)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [7]:
array1 = np.ones(10)*5
print(array1)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

In [8]:
# 5. Create an array of all the even integers from 20 to 35
import numpy as np
array = np.arange(20,35,2)
print(array)

[20 22 24 26 28 30 32 34]

In [9]:
# 6. Create a 3x3 matrix with values ranging from 0 to 8
import numpy as np
x = np.arange(0,9).reshape(3,3)
print(x)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [10]:
# 7. Concatenate a and b
# a = np.array([1, 2, 3]), b = np.array([4, 5, 6])
import numpy as np
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
np.concatenate([a,b])

array([1, 2, 3, 4, 5, 6])

In [11]:
# Pandas
# 8. Create a dataframe with 3 rows and 2 columns
import pandas as pd
import pandas as pd
lst = ["python","data","science"]
df = pd.DataFrame(lst)
print(df)

         0
0   python
1     data
2  science

In [12]:
# 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023
import pandas as pd
per = pd.date_range(start='1-1-2023',end = '2-10-2023')
for i in per:
    print(i)

2023-01-01 00:00:00
2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00
2023-01-05 00:00:00
2023-01-06 00:00:00
2023-01-07 00:00:00
2023-01-08 00:00:00
2023-01-09 00:00:00
2023-01-10 00:00:00
2023-01-11 00:00:00
2023-01-12 00:00:00
2023-01-13 00:00:00
2023-01-14 00:00:00
2023-01-15 00:00:00
2023-01-16 00:00:00
2023-01-17 00:00:00
2023-01-18 00:00:00
2023-01-19 00:00:00
2023-01-20 00:00:00
2023-01-21 00:00:00
2023-01-22 00:00:00
2023-01-23 00:00:00
2023-01-24 00:00:00
2023-01-25 00:00:00
2023-01-26 00:00:00
2023-01-27 00:00:00
2023-01-28 00:00:00
2023-01-29 00:00:00
2023-01-30 00:00:00
2023-01-31 00:00:00
2023-02-01 00:00:00
2023-02-02 00:00:00
2023-02-03 00:00:00
2023-02-04 00:00:00
2023-02-05 00:00:00
2023-02-06 00:00:00
2023-02-07 00:00:00
2023-02-08 00:00:00
2023-02-09 00:00:00
2023-02-10 00:00:00

In [13]:
# 10. Create 2D list to DataFrame
# lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
import pandas as pd
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
df = pd.DataFrame(lists)
print(df)

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24